body {
	background-image: url("resources/background2.png");
	background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 70%;
}

.content {
    margin-bottom: 200px;
}

#header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}

#concept {
	color: white;
	text-align: center;
	font-family: Michroma;
	font-size: 1.1em;
}

#screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
}

#trailer {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
}