
/* GERAL */
body {
	background-image: url("resources/background2.png");
	background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.content_center {
    display: block;
    position: absolute;
    margin: 0 ;
	width: 90%;
    left: 8%;
    height: 100% !important;
}



/* SECTIONS */

#firstSection{
    top:0%;
}
#screenshots{
    top:100%;
}
#video{
    top:200%;
}



/* MENU */


.vertical-menu {
    position:fixed;
    top: 0;
    left:-0.5%;
    width: 8%; 
    height: 100%;
    background-color: black;
}

.vertical-menu a {
    background-color: black; 
    display: block; 
    margin: auto;
    padding: 10%;
    margin-top: 85%;
    text-decoration: none; /* Remove underline from links */
    color: white;
    text-align: center;
    font-family: Michroma;
    font-size: 10px;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: grey; /* Add a green color to the "active/current" link */
    color: white;
} 



/* others */

#header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
}

#concept {
	color: white;
	text-align: center;
	font-family: Michroma;
	font-size: 1.3em;
}

/*#screenshot_table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.screenshot {
	width: 300px;
	height: 300px;
}*/


div.scrollmenu {
    position: relative;
    width: 90%;
    margin: auto;
    height: 90%;
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

div.scrollmenu img {
    position: relative;
    display: inline-block;
    padding: 14px;
    margin: auto;
    width: 80%;

}



#trailer {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 90%;
}